@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;
}
body{
    border: 1px solid black;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.scoreboard {
    width: 45%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.player {
    flex: 1;
    font-size: 3rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scoreBox {
    margin-top: 10px;
    width: 90px;
    height: 60px;
    border: 0.5px solid black;
    box-shadow: 0 0 3.5px;
}